<div class="container" >

  <h1>Listing calculators</h1>

  <table class="tables">
    <thead>
      <tr>
        <th>Name</th>
        <th>Featured</th>
        <th>Category</th>
        <th>Description</th>
        <th>Picture</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @calculators.each do |calculator| %>
        <tr>
          <td><%= calculator.name %></td>
          <td><%= calculator.featured %></td>
          <td><%= calculator.category_id %></td>
          <td><%= calculator.description %></td>
          <td><%= image_tag calculator.picture %></td>
          <td><%= link_to 'Show', calculator %></td>
          <td><%= link_to 'Edit', edit_calculator_path(calculator) %></td>
          <td><%= link_to 'Destroy', calculator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Calculator', new_calculator_path %>

</div>