<%= form_for(@vertical_shaft_impact_crusher) do |f| %>
  <% if @vertical_shaft_impact_crusher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vertical_shaft_impact_crusher.errors.count, "error") %> prohibited this vertical_shaft_impact_crusher from being saved:</h2>

      <ul>
      <% @vertical_shaft_impact_crusher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :drive_diameter %>
    <%= f.text_field :drive_diameter %>
  </div>
  <div class="field">
    <%= f.label :driven_diameter %>
    <%= f.text_field :driven_diameter %>
  </div>
  <div class="field">
    <%= f.label :motor_rpm %>
    <%= f.text_field :motor_rpm %>
  </div>
  <div class="field">
    <%= f.label :rotor_diameter %>
    <%= f.text_field :rotor_diameter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
