<div class="container" >

  <p id="notice"><%= notice %></p>

  <div class="span-6"> 
    <%= link_to 'Back To All', horizontal_shaft_impact_crushers_path %>
   <h4><%= @horizontal_shaft_impact_crusher.name %><span class="kicker"><%= @horizontal_shaft_impact_crusher.updated_at.strftime("%b %e, %l:%M %p") %></span></h4>
    <table class="tables">
      <tbody>
        <tr>
          <td><strong>Drive diameter:</strong></td>
          <td><%= @horizontal_shaft_impact_crusher.drive_diameter %></td>
        </tr>
        <tr>
          <td><strong>Driven diameter:</strong></td>
          <td><%= @horizontal_shaft_impact_crusher.driven_diameter %></td>
        </tr>
        <tr>
          <td><strong>RPM:</strong></td>
          <td><%= @horizontal_shaft_impact_crusher.rpm %></td>
        </tr>
        <tr>
          <td><strong>Rotor diameter:</strong></td>
          <td><%= @horizontal_shaft_impact_crusher.roto_diameter %></td>
        </tr>
        <!-- <tr>
          <td><strong>Shaft rpm:</strong></td>
          <td><strong><%= @horizontal_shaft_impact_crusher.calculated_shaft_rpm.round(2) %></strong></td>
        </tr> -->
        <tr class="results">
          <td><strong>Tip speed:</strong></td>
          <td><strong><%= @horizontal_shaft_impact_crusher.calculated_tip_speed.round(0) %> FPM</strong></td>
        </tr>
      </tbody>
    </table>

    <p><%= link_to 'Edit', edit_horizontal_shaft_impact_crusher_path(@horizontal_shaft_impact_crusher) %></p>
  </div>

  <div class="span-6">
    <%= image_tag "form-graphics/horizontal-shaft-impact-crusher.png", :class => 'center' %>
  </div>

</div>

<div class="container">
  <div class="span-12">
    Comments... coming soon
  </div>
</div>


<div class="container">
  <div class="span-12">
    <%= link_to 'Delete', @horizontal_shaft_impact_crusher, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
